root = true

# Unix-style newlines with a newline ending every line
[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# indentation
indent_style = space
indent_size = 2

#charset
charset = utf-8

# markdown
[*.md]
trim_trailing_whitespace = false
